@use "./variables";

.container {
  max-width: 1240px;
  margin: 0 auto; 
  padding: 15px 20px;
}

/* Style du Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;

  nav {
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

/* Style du Footer */
footer {
  position: relative;
  height: 209px;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    position: absolute;
    bottom: 15px;
    font-size: 1.2rem;
  }
}
