/********* Home *********/
  
  /* Style Gallery */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    padding: 50px;
    background-color: #F6F6F6;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  
    &:hover {
      transform: scale(1.05);
    }
  
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  
    h3 {
      padding: 10px;
      text-align: center;
      font-size: 1.2rem;
    }
  }

/********* About *********/
.collapse {
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FF6060;
    width: 85%;
  }
  
  .collapse-header {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: white;
    padding: 0 15px;
    cursor: pointer;
  }
  
  .arrow {
    transition: transform 0.3s ease-in-out;
    font-size: 2rem;
  }
  
  .arrow.up {
    transform: rotate(180deg);
  }
  
  .collapse-content {
    background-color: #F6F6F6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
    opacity: 0;
    padding: 0 20px;
  }
  
  .collapse-content.open {
    max-height: 50px;
    opacity: 1;
    padding: 10px 20px;
  }

/********** About *********/
.about {
  padding-bottom: 15px;
}

/********** Error *********/
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  margin: 30px auto;
}

.error-code {
  font-size: 15rem;
  font-weight: bold;
  color: #FF6060;
  margin: 0;
}

.error-message {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #FF6060;
}

.error-link {
  font-size: 1.2rem;
  color: black;
  text-decoration: underline;
}
